.container
    .benefits
        .benefits__title Benefits of infrared saunas
        //.benefits__arrow
        //    img(src="img/svg/arrow-right.svg")
        .benefits__wrapper.slider
            .benefits__item
                .benefits__img
                    img(src="img/content/vitality.jpg" alt="Vitality")
                .benefits__name Vitality
                .benefits__descr Lower blood pressure and improve circulation for longevity and rejuvenation.

            .benefits__item
                .benefits__img
                    img(src="img/content/relief.jpg" alt="Relief")
                .benefits__name Relief
                .benefits__descr Help the body heal naturally. Reduce soreness of nerve endings and muscle spasms.

            .benefits__item
                .benefits__img
                    img(src="img/content/glow.jpg" alt="Glow")
                .benefits__name Glow
                .benefits__descr Enhance your beauty, reduce wrinkles, cleanse your pores and renew skin elasticity.

            .benefits__item
                .benefits__img
                    img(src="img/content/relief.jpg" alt="Relief")
                .benefits__name Relief
                .benefits__descr Help the body heal naturally. Reduce soreness of nerve endings and muscle spasms.

            .benefits__item
                .benefits__img
                    img(src="img/content/vitality.jpg" alt="Vitality")
                .benefits__name Vitality
                .benefits__descr Lower blood pressure and improve circulation for longevity and rejuvenation.
