.container
    .info
        .info__promo
            .info__header#about
                h2.info__title Feel better
                .info__subtitle IN OUR INFRARED SAUNA

            p.info__descr Enjoy our custom full-spectrum infrared saunas in your own private suite equipped with medical grade chromotherapy and a Vitamin-C infused shower! Take advantage of benefits like detoxing through sweat, healthier skin, burning calories and more all while you relax and unwind in your private suite.

        img.info__img(src='img/content/info_bg.jpg' alt="Infrared sauna")

        .info__explanation
            h2.info__name What is an infrared sauna?
            p.info__descr.info__descr_expl Infrared heat is all around us and you have felt it from sources like fire, heated sand on the beach and the sun (without the harmful ultraviolet waves that the sun gives off). Unlike a traditional sauna, infrared saunas don’t heat the air around you. Instead, they use infrared lamps (that use electromagnetic radiation) to warm your body directly.
            a(href="#").btn-more Read more
