.menu
    a(href="#").menu__logo Woodoo
    ul.menu__wrapper
        li
            a(href="#").menu__menu-item Main
        li
            a(href="#").menu__menu-item About
        li
            a(href="#").menu__menu-item Services
        li
            a(href="#").menu__menu-item Photo
        li
            a(href="#").menu__menu-item Locations
        li
            a(href="#").menu__menu-item Contacts
    .btn-wrapper
        .btn-ms
            a(href="#") Book now
        .burger
            span
            span
            span