.container
    .ms#pageup
        include menu

        .ms__heading
            h1.ms__title Infrared sauna
            h2.ms__subtitle TAKES CARE OF YOUR BODY

        .overlay
            ul.mobile-menu
                li
                    a(href="#about").mobile-menu__item Main
                li
                    a(href="#about").mobile-menu__item About
                li
                    a(href="#about").mobile-menu__item Services
                li
                    a(href="#about").mobile-menu__item Photo
                li
                    a(href="#about").mobile-menu__item Locations
                li
                    a(href="#about").mobile-menu__item Contacts

