.container
  .results
    h2.results__title What to <br> Expect During <br> the Session
    .results__wrapper
      .results__item(data-aos="fade-right" data-aos-duration="1500")
        .results__name HEALTHY HEAT
        p.results__descr Our infrared saunas heat the body from the inside out, leaving the air pleasant and comfortable, allowing for a longer sweat.
      .results__item(data-aos="fade-up" data-aos-duration="1500")
        .results__name A CLEAN SWEAT
        p.results__descr Infrared heat kills 99% of bacteria, creating an inherently sterile environment. Relax your mind & rejuvenate your body.
      .results__item(data-aos="fade-left" data-aos-duration="1500")
        .results__name TOTAL BODY WELLNESS
        p.results__descr Experience glowing beauty, cleansing immunity, reduced stress, & more from the proactive benefits of a vibrant sweat.

