.benefits {
  background: linear-gradient(to bottom, $dark-beige 60%, $beige 40%);
  min-height: toVw(550);
  padding-top: toVw(80);
  position: relative;

  @include lg-block() {
    min-height: toVw(620);
  }

  @include md-block() {
    min-height: toVw(820);
    padding-top: toVw(100);
  }

  @include xmd-block() {
    min-height: toVw(650);
    padding-top: toVw(60);
  }

  @include sm-block() {
    min-height: toVw(600);
  }

  @include xs-block() {
    min-height: 630px;
  }


  &__title {
    color: $orange;
    font-size: 44px;
    letter-spacing: -0.01em;
    line-height: 100%;
    text-align: center;

    @include md-block() {
      font-size: 34px;
    }

    @include xs-block() {
      font-size: 28px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: toVw(1028);
    position: relative;

    @include md-block() {
      width: toVw(1360);
    }

    @include xmd-block() {
      width: toVw(910);
    }

    @include sm-block() {
      width: auto;
    }
  }

  &__item {
    width: toVw(326) !important;
    height: auto;

    @include md-block() {
      width: toVw(420) !important;
      height: auto;
    }

    @include xmd-block() {
      margin-left: 20px;
      width: toVw(420) !important;
    }

    @include sm-block() {
      width: 500px !important;
    }
    @include xs-block() {
      width: 440px !important;
    }

  }

  &__img {
    width: toVw(326);
    height: toVw(235);
    overflow: hidden;

    @include md-block() {
      width: toVw(440);
      height: auto;
    }

    @include xmd-block() {
      width: toVw(420);
    }

    @include sm-block() {
      width: 500px;
    }

    @include xs-block() {
      width: 440px;
    }

    img {
      transition: all ease-out 0.7s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__name {
    font-family: "work-sans";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    margin-top: toVw(27);
    font-weight: 500;
  }

  &__descr {
    font-size: 14px;
    line-height: 20px;
    margin-top: toVw(15);
  }
}


// Slider

.slick-slide {
  width: auto;

  @include sm-block() {
    display: flex !important;
    justify-content: center;
  }
}

.slider {
  margin: toVw(60) auto 0 auto !important;
}

.slick-next{
  position: absolute;
  right: toVw(20);
  top: toVw(-90);
  border: none;
  cursor: pointer;
  width: 54px;
  height: auto;
  transform: none;
  transition: .5s ease-out all;

  @include md-block() {
    top: toVw(-110);
  }

  @include md-block() {
    top: toVw(-90);
  }

  @include sm-block() {
    top: toVw(-80);
    right: 60px;
  }

  @include xs-block() {
    width: 40px;
    top: toVw(-88);
  }

  &:hover {
    transform: translateX(toVw(10));
  }
  &:before {
    content: '';
  }
}