.benefits {
  background: linear-gradient(to bottom, $dark-beige 60%, $beige 40%);
  height: toVw(594);
  padding-top: toVw(80);
  position: relative;

  &__title {
    color: $orange;
    font-size: toVw(44);
    letter-spacing: -0.01em;
    line-height: 100%;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: toVw(1028);
    position: relative;
  }

  &__item {
    width: toVw(326) !important;
  }

  &__img {
    width: toVw(326);
    height: toVw(235);
    overflow: hidden;
    img {
      transition: all ease-out 0.7s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__name {
    font-family: "work-sans";
    font-size: toVw(14);
    line-height: toVw(17);
    letter-spacing: 0.34em;
    text-transform: uppercase;
    margin-top: toVw(27);
    font-weight: 500;
  }

  &__descr {
    font-size: toVw(14);
    line-height: toVw(20);
    margin-top: toVw(15);
  }
}


// Slider

.slick-slide {
  width: auto;
}

.slider {
  margin: toVw(60) auto 0 auto !important;
}

.slick-next{
  position: absolute;
  right: toVw(20);
  top: toVw(-90);
  border: none;
  cursor: pointer;
  width: toVw(54);
  height: auto;
  transform: none;
  transition: .5s ease-out all;

  &:hover {
    transform: translateX(toVw(10));
  }
  &:before {
    content: '';
  }
}