.btn-ms {
  margin-right: toVw(38);
  margin-left: toVw(20);
  font-family: "old-standard";
  font-weight: 400;
  font-size: toVw(12);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  width: 147px;
  height: 41px;
  border: 1px solid $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-out all;

  &:hover {
    background-color: $orange;
    border: 1px solid beige;
    a {
      color: $beige;
    }
  }

  a {
    color: $orange;
  }
}

.btn-more {
  width: toVw(115);
  height: toVw(30);
  border: 1px solid #2D363F;
  font-family: "montserat";
  text-transform: uppercase;
  font-size: toVw(10);
  line-height: toVw(20);
  letter-spacing: 0.105em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: toVw(20);
  transition: .3s ease-out all;

  &:hover {
    border: 1px solid $orange;
    color: $orange;

  }
}

.btn-form {
  margin-top: toVw(20);
  border: 1px solid #2D363F;
  width: toVw(97);
  height: toVw(28);
  font-size: toVw(10);
  line-height: toVw(20);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease-out all;


  &:hover {
    border: 1px solid $orange;
    background-color: $orange;
    color: $beige;

  }

}
