.btn-ms {
  margin-right: 38px;
  margin-left: 20px;
  font-family: "old-standard";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  width: 147px;
  height: 41px;
  border: 1px solid $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-out all;

  &:hover {
    background-color: $orange;
    border: 1px solid beige;
    a {
      color: $beige;
    }

    @include xs-block() {
      background-color: transparent;
      border: 1px solid $orange;
      a {
        color: $orange;
      }
    }
  }

  a {
    color: $orange;
  }

  @include xxxs-block() {
    display: none;
  }
}

.btn-more {
  width: 115px;
  height: 30px;
  border: 1px solid #2D363F;
  font-family: "montserat";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.105em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: toVw(20);
  transition: .3s ease-out all;

  &:hover {
    border: 1px solid $orange;
    color: $orange;

    @include xs-block() {
      border: 1px solid #2D363F;
      color: $black;

    }
  }
}

.btn-form {
  margin-top: toVw(20);
  border: 1px solid #2D363F;
  width: 97px;
  height: 28px;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease-out all;

  @include md-block() {
    margin-top: toVw(35);
  }

  @include xxxs-block() {
    order: 2;
  }


  &:hover {
    border: 1px solid $orange;
    background-color: $orange;
    color: $beige;

    @include xs-block() {
      border: 1px solid #2D363F;
      background-color: transparent;
      color: $black;

    }

  }

}
