.info {
  background: linear-gradient(to right, $beige 70%, $dark-beige 30%);
  padding-top: toVw(66);
  padding-bottom: toVw(63);

  &__title {
    font-family: "lato";
    font-weight: 300;
    font-size: 56px;
    line-height: 67px;
  }

  &__subtitle {
    letter-spacing: 0.275em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
  }

  &__promo {
    display: flex;
    justify-content: space-between;
    width: toVw(830);
    margin: 0 auto;

    @include lg-block() {
      width: toVw(900);
    }

    @include md-block() {
      width: toVw(1100);
    }

    @include xmd-block() {
      width: 910px;
    }
  }

  &__descr {
    width: toVw(504);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;

    @include md-block() {
      width: toVw(550);
    }

    &_expl {
      width: toVw(568);
      margin-top: toVw(17);

      @include lg-block() {
        width: toVw(750);
      }

      @include xmd-block() {
        width: toVw(600);
      }
    }
  }

  &__img {
    width: toVw(830);
    height: toVw(400);
    display: flex;
    justify-content: center;
    margin: toVw(45) auto 0 auto;

    @include lg-block() {
      width: toVw(900);
      height: auto;
    }

    @include md-block() {
      width: toVw(1100);
    }

    @include md-block() {
      width: 910px;
    }
  }

  &__explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: toVw(568);
    margin: toVw(42) auto 0 auto;

    @include lg-block() {
      width: toVw(700);
    }

    @include md-block() {
      width: toVw(600);
    }
  }

  &__name {
    font-family: "work-sans";
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }

}