.message {
  background: linear-gradient(to bottom, $beige 50%, $dark-beige);

  &__bg {
    background-image: url("../img/content/tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: toVw(530);
    padding-top: toVw(70);

    @include lg-block() {
      min-height: toVw(540);
    }

    @include md-block() {
      min-height: toVw(660);
    }

    @include xmd-block() {
      min-height: toVw(540);
    }

    @include sm-block() {
      min-height: toVw(480);
    }
  }

  &__title {
    letter-spacing: 0.03em;
    font-size: 34px;
    line-height: 41px;
    color: $orange;
    margin-bottom: 5px;
  }

  &__info {
    letter-spacing: 0.59em;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: "work-sans";
    font-weight: bold;
    margin-bottom: toVw(20);
  }

  .form-wrapper {
    margin-left: toVw(130);
  }

  &__input {
    margin-top: 15px;
    padding-bottom: 5px;
    width: 467px;
    height: 25px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    font-family: "work-sans";
    font-size: 10px;
    color: rgba(45, 54, 63, 0.45);

    @include md-block() {
      padding-bottom: 25px;
    }
  }

  &__social {
    margin-top: toVw(120);
    display: flex;
    justify-content: center;

    @include sm-block() {
      margin-top: 80px;
    }

  }

  &__icon {
    margin-right: toVw(13);
    cursor: pointer;
    svg {
      height: 15px;
      width: 15px;
      transition: .3s ease-out all;
      &:hover {
        fill: #5A5A5A;
      }
    }
  }

  &__copyright {
    font-family: "work-sans";
    font-size: 10px;
    color: rgba(45, 54, 63, 0.49);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 8px;
    padding-left: toVw(5);
    margin-top: toVw(17);
    &:before {
      content: url("../img/svg/copyright.svg");
      margin-right: toVw(5);
    }
  }


}