.ms {
  background-color: $beige;
  padding-bottom: toVw(140);
  min-height: 607px;

  background-image: url(../img/content/ms_bg.png);
  background-size: contain;
  background-repeat: no-repeat;

  &__upper {
    padding-top: toVw(25);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
  }

  &__menu {
    display: flex;
    padding-left: toVw(250);
  }

  &__menu-item {
    font-family: "old-standard";
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: toVw(20);
    letter-spacing: 0.3em;
    cursor: pointer;
    &:hover {
      &:after {
        width: 95%;
        transform: translateY(0);
      }
    }

    &:first-child {
      &:after {
        width: 95%;
        transform: translateY(0);
      }
    }

    &:after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      background-color: $orange;
      transform: translateY(7px);
      transition: all .3s ease-out;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: toVw(490);
    z-index: 2;
  }

  &__logo {
    margin-left: toVw(90);
    font-family: "raleway";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
  }


  &__heading {
    margin-top: toVw(110);
  }

  &__title {
    font-family: "work-sans";
    font-weight: 100;
    font-size: 140px;
    line-height: 133px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: "lato";
    font-weight: bold;
    margin-top: toVw(25);
    letter-spacing: 0.44em;
    font-size: 16px;
  }


}