.ms {
  background-color: $beige;
  padding-bottom: toVw(140);
  min-height: toVw(607);
  position: relative;

  background-image: url(../img/content/ms_bg.png);
  background-size: contain;
  background-repeat: no-repeat;

  @include lg-block() {
    min-height: toVw(700);
  }

  @include md-block() {
    min-height: toVw(900);
  }

  @include xmd-block() {
    min-height: toVw(537);
    padding-bottom: 0;
  }

  @include sm-block() {
    min-height: 437px;
  }

  @include xs-block() {
    min-height: 360px;
  }

  @include xxs-block() {
    background-position: top;
    background-size: auto;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: toVw(490);
    margin-top: toVw(110);
    z-index: 2;

    @include lg-block() {
      padding-left: toVw(550);
    }

    @include md-block() {
      padding-left: toVw(700);
    }

    @include xmd-block() {
      padding-left: 450px;
    }

    @include sm-block() {
      padding-left: 300px;
      margin-top: toVw(70);
    }

    @include xs-block() {
      padding-left: 275px;
    }

    @include xxs-block() {
      padding-left: 140px;
      margin-top: 40px;
    }

    @include xxxs-block() {
      padding-left: 50px;
    }
  }

  &__title {
    font-family: "work-sans";
    font-weight: 100;
    font-size: toVw(140);
    line-height: toVw(133);
    text-transform: uppercase;

    @include md-block() {
      font-size: toVw(160);
    }

    @include xmd-block() {
      font-size: 100px;
      line-height: 88px;
    }

    @include xs-block() {
      font-size: 70px;
      line-height: 70px;
      width: 400px;
    }

    @include xxs-block() {
      font-size: 58px;
      line-height: 64px;
      width: 260px;
    }
  }

  &__subtitle {
    font-family: "lato";
    font-weight: bold;
    margin-top: toVw(25);
    letter-spacing: 0.44em;
    font-size: 16px;

    @include md-block() {
      font-size: 14px;
    }

    @include sm-block() {
      font-size: 14px;
      margin-top: toVw(10);
    }

    @include xs-block() {
      font-size: 12px;
      font-weight: 500;
      margin-top: 15px;
    }

    @include xxs-block() {
      font-weight: bold;
      line-height: 24px;
      width: 155px;
    }
  }


}