.results {
  background-color: $beige;
  padding-top: toVw(63);
  min-height: toVw(543);

  background-image: url(../img/content/results_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;

  @include md-block() {
    min-height: toVw(800);
    padding-top: toVw(80);
  }

  @include xmd-block() {
    min-height: toVw(600);
  }

  @include xxs-block() {
    padding-top: 50px;
    min-height: 700px;
  }

  &__title {
    font-size: 34px;
    font-family: "lato";
    line-height: 41px;
    display: flex;
    justify-content: center;
    margin-right: toVw(80);

    @include lg-block() {
      margin-right: toVw(105);
    }

    @include md-block() {
      font-size: 32px;
      margin-right: toVw(140);
    }

    @include xmd-block() {
      font-size: 30px;
      margin-right: 0;
    }

    @include xmd-block() {
      margin-left: toVw(200);
    }

    @include xs-block() {
      font-size: 26px;
      margin-right: 8%;
      line-height: 36px;
      justify-content: flex-end;
    }

    @include xxs-block() {
      width: 420px;
      margin: 35px auto 0 auto;
      justify-content: flex-start;
      color: $beige;
    }

    @include xxxs-block() {
      width: 300px;
    }
  }

  &__wrapper {
    min-height: toVw(240);
    background: rgba(186, 80, 50, 0.9);
    margin-top: toVw(31);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: toVw(60);

    @include md-block() {
      min-height: toVw(400);
      padding-top: toVw(80);
    }

    @include xmd-block() {
      min-height: toVw(300);
    }

    @include xs-block() {
      flex-direction: column;
      padding-bottom: 40px;
      align-items: center;
    }

    @include xxs-block() {
      padding-top: 35px;
      padding-bottom: 0;
    }
  }

  &__item {
    color: $beige;
    margin-right: toVw(94);
    &:last-child {
      margin-right: 0;
    }

    @include xmd-block() {
      margin-right: 70px;
    }

    @include sm-block() {
      margin-right: 35px;
    }

    @include xs-block() {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include xxs-block() {
      width: 420px;
    }

    @include xxxs-block() {
      width: 300px;
    }
  }

  &__name {
    font-family: "work-sans";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.46em;
    font-weight: 500;
    width: auto;

    @include xmd-block() {
      max-width: 200px;
    }

    @include xs-block() {
      max-width: 100%;
    }


  }

  &__descr {
    margin-top: toVw(22);
    width: toVw(270);
    font-family: "lato";
    font-size: 14px;
    line-height: 20px;

    @include md-block() {
      width: toVw(350);
    }

    @include xmd-block() {
      width: toVw(220);
    }

    @include xs-block() {
      width: 485px;
    }

    @include xxs-block() {
      width: 420px;
    }
    @include xxxs-block() {
      width: 300px;
      margin-top: 15px;
    }
  }
}