extends ../layout/main

block libs-js
    script(src="./js/fv.js")

block variables
    - var title = 'Woodoo';

block content
    include ../modules/header
    main

    include ../modules/ms
    include ../modules/info
    include ../modules/results
    include ../modules/benefits
    include ../modules/message

    include ../modules/footer