extends ../layout/main

block variables
	- var title = 'Woodoo';

block content
	include ../modules/header
	main

	include ../modules/ms
	include ../modules/info
	include ../modules/results
	include ../modules/benefits

	include ../modules/footer
		