$grid-columns: 12;
@for $i from 1 through $grid-columns {
	.col-#{$i}{
		width: percentage($i / $grid-columns);
	}
}

// Стили
body {
	font-family: "lato";
	font-weight: 400;
	overflow: visible;
	overflow-x: hidden;
	line-height: 160%;
	font-size: toVw($fontSizeMain);
	margin: 0;
	color: $black;
	//background-color: $orange;
	background-color: #D4CEC2;

	&._overflow{
		overflow: hidden;
	}
}
main{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
a{
	text-decoration: none;
	transition: .2s;
	color: #131313;
}
img{
	max-width: 100%;
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: flex; /* по умолчанию показываем нужный блок */
}


.container{
	width: toVw(1230);
	margin: 0 auto;
	position: relative;

	@include lg-block() {
		width: toVw(1440);
	}

	@include md-block() {
		width: 1100px;
	}

	@include xmd-block() {
		width: 990px;
		overflow: hidden;
	}


}

.error {
	border-color: #ea5353 !important;
}